body
{
    background-color: rgb(230, 230, 230);
    margin:0;
    padding: 0;
}
img
{
    display: block;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 10px;
    width: 200px;
}
#tytul
{
    color: rgb(75, 75, 75);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}
#admin_panel
{
    background-color: rgb(210, 210, 210);;
    border: 2px solid rgb(75, 75 ,75);
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 400px;
}
input
{
    border: 2px solid rgb(75, 75 ,75);
    border-radius: 5px;
    font-size: 18px;
    height: auto;
    margin: 0;
    outline: none; 
    padding: 5px;
    width: 200px;
    text-align: center;
}
input:focus::placeholder 
{
    color: transparent;
}
#blad
{
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
input[type=submit]
{
    background-color: #146433;
    border: 2px solid white;
    border-radius: 5px;
    box-sizing: content-box;
    margin: 0;
    margin-top: 10px;
    transition: 0.2s ease-in-out;
    width: 300px;
}
input[type=submit]:hover
{
    color: white;
    cursor: pointer;
    font-weight: bold;
}
#admin_wyloguj
{
    background-color: #146433;
    border: 2px solid white;
    border-radius: 5px;
    box-sizing: content-box;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    transition: 0.2s ease-in-out;
    width: 302px;
}
a
{    
    font-size: 18px;
}
#admin_wyloguj:hover
{
    color: white;
    cursor: pointer;
    font-weight: bold;
}
a:link, a:visited, a:active
{
    color: black;
    text-decoration: none;
}
.wiersz
{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.etykieta
{
    margin: 0;
    margin-left: 25px;
    padding: 0;
}